<li style="display: flex;">
  <% if user.avatar.attached? %>
    <%= image_tag user.avatar, size: '50x50' %>
  <% else %>
    <%= gravatar_for user, size: 50 %>
  <% end %>
  <%= link_to user.name, user, style: "margin: 14px;" %>
</li>