<li style="display: flex;">
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, admin_user_path(user), style: "margin: 14px;" %>
  <% unless current_user?(user) %>
     <%=  button_to "|       Delete account", admin_user_path(user), method: :delete, data: { turbo: false }, class: 'btn-link', style: "margin: 11px -18px;", onclick: "confirmDelete(event);"  %>
  <%  end %>
</li>